/*refers to main body styling*/
/*eliza*/
body {
	background-image: url("../assets/images/background.jpg");
	text-align: center;
    /*had to add below to stretch background image*/
    /*eliza and marvin*/
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}
/*refers jumbotron styling*/
/*eliza*/
.jumbotron {
    background-image: url("../assets/images/food&drink.jpg");
	background-size: auto;
	height: 240px;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
}
/*refers to footer styling*/
/*eliza*/
footer {
	overflow: hidden;
	height: 1rem;
	background-color:rgba(240, 238, 180, 0.605);
	text-align: center;
	font-size: 10px;
	position: fixed;
	padding-bottom: .9em;
	left: 0;
	right: 0;
	bottom: 0;
}
/*refers to image styling*/
/*puder*/
img {
	height: 200px;
	width: auto;
	padding-top: 1em;
}
/*below refers to our container that holds our cards*/
/*container style by eliza*/
#container {
	padding-left: auto;
	padding-right: auto;
	padding-top: 2em;
	margin-bottom: 5em;
	text-align: center;
	display: flex;
	webkit-justify-content: center;
}
/*below ensures that our cards are centered properly*/
/*eliza*/
#centering{
	padding:auto;
	margin:auto;
	text-align:center;
}
/*below refers to the large title*/
/*title style provided by marvin for user readability*/
/*title style excecuted by puder*/
header {
	height: 120px;
	width: auto;
	color: white;
	font-size: 70px;
	font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	text-shadow: 3px 2px black;
	width: 100%;
	color: rgb(69, 125, 59);
	font-size: 70px;
	position: stretch;
	padding-top: .5em;
	margin-bottom: .8em;
}
/*refers to list*/
/*eliza*/
.list-group-item {
	padding: 0;
	background: rgba(240, 182, 58, 0.379);
	list-style-type: none;
	color: black;
	border: none;
}
/*refers to temperature display*/
/*puder*/
#city-temp {
	background-color: rgba(240, 182, 58, 0.379);
	margin-top: 1em;
	color: black;
	font-size: 18px;
	margin-bottom: 0;
}
/*refers to weather display*/
/*puder*/
#city-weather {
	background-color: rgba(240, 182, 58, 0.379);
	color: black;
	font-size: 18px;
}
/*refers to separtion of list and header*/
/*puder*/
ul {
	margin-top: 1em;
}
/*refers to what color the drink hover will be*/
/*changed to orange to match button, but would like to make the drinks buttons in future for user readability*/
a:hover {
	color: rgb(233, 188, 90);
}
/*below gets rid of the bullets in the drink list*/
/*eliza*/
.list-group-flush {
	list-style: none;
}
#directions{
	color: black;
	padding-top: 1em;
	font-style: italic;
}
/*refers to styling of our 3 main cards*/
/*eliza, purder, and marvin*/
.cards {
	background-color: rgba(250, 189, 98, 0.255);
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 15px;
	padding-left: 0;
	padding-right: 0;
}
/*refers to style of card headers*/
/*purder*/
.card-header {
	background-color: rgb(227, 138, 123);
	border: none;
	color: black;
}
/*refers to styling of stock image for the weather*/
/*eliza*/
.card-img-top {
	height: 200px;
	opacity: .7;
}
/*refers to weather stock image*/
/*eliza*/
#weather{
	opacity: .6;
}
/*refers to search button*/
/*eliza and patrick*/
#city-search {
	color: black;
	background: rgba(117, 162, 201, 0.831);
	margin-top: 1em;
	border-radius: 5px;
	line-height: 1.8em;
}
/*refers to search entry*/
/*eliza and patrick*/
#city-name {
	border-radius: 5px;
	text-align: center;
}