/*refers to main body styling*/
/*eliza*/
body {
	background-image: url("../assets/images/background.jpg");
	text-align: center;
    /*had to add below to stretch background image*/
    /*eliza and marvin*/
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}
/*refers jumbotron styling*/
/*eliza*/
.jumbotron {
    background-image: url("../assets/images/food&drink.jpg");
	background-size: auto;
	height: 240px;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
}
/*refers to footer styling*/
/*eliza*/
footer {
	overflow: hidden;
	height: 1rem;
	background-color: rgb(228, 218, 218);
	text-align: center;
	font-size: 10px;
	position: fixed;
	padding-bottom: .9em;
	left: 0;
	right: 0;
	bottom: 0;
}
/*refers to image styling*/
/*puder*/
img {
	height: 200px;
	width: auto;
	padding-top: 1em;
}
/*below refers to our container that holds our cards*/
/*container style by eliza*/
#container {
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 2em;
	margin-bottom: 5em;
	text-align: center;
}
/*below refers to the large title*/
/*title style provided by marvin for user readability*/
/*title style excecuted by puder*/
header {
	height: 150px;
	width: auto;
	color: white;
	font-size: 70px;
	font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	text-shadow: 3px 2px black;
	/* width: auto; */
	width: 100%;
	color: rgb(39, 75, 33);
	font-size: 50px;
	position: stretch;
	padding-top: .5em;
}
/*refers to list*/
/*eliza*/
.list-group-item {
	padding: 0;
	background: rgba(240, 182, 58, 0.379);
	list-style-type: none;
	color: white;
	border: none;
}
/*refers to temperature display*/
/*puder*/
#city-temp {
	background-color: rgba(240, 182, 58, 0.379);
	margin-top: 1em;
	color: rgb(39, 75, 33);
}
/*refers to weather display*/
/*puder*/
#city-weather {
	background-color: rgba(240, 182, 58, 0.379);
	color: rgb(39, 75, 33);
}
/*refers to separtion of list and header*/
/*puder*/
ul {
	margin-top: 1em;
}
/*refers to what color the drink hover will be*/
/*changed to orange to match button, but would like to make the drinks buttons in future for user readability*/
a:hover {
	color: rgb(233, 188, 90);
}
/*below gets rid of the bullets in the drink list*/
/*eliza*/
.list-group-flush {
	list-style: none;
}
/*refers to style of drink ingredients */
/* eliza*/
#ing {
	color: white;
	border: none;
}
/*refers to styling of our 3 main cards*/
/*eliza, purder, and marvin*/
.cards {
	background-color: rgba(240, 234, 58, 0.255);
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 15px;
	color: rgb(238, 128, 128);
}
/*card text color*/
/*eliza*/
.card-text {
	color: rgb(39, 75, 33);
}
/*refers to style of card headers*/
/*purder*/
.card-header {
	background-color: rgba(192, 85, 66, 0.461);
	border: none;
	color: white;
}
/*refers to styling of stock image for the weather*/
.card-img-top {
	opacity: .8;
	height: 200px;
	padding-bottom: 1em;
}
/*refers to search button*/
/*eliza and patrick*/
#city-search {
	color: white;
	background: rgb(233, 188, 90);
	margin-top: 1em;
	border-radius: 15px;
}
/*refers to search entry*/
/*eliza and patrick*/
#city-name {
	border-radius: 15px;
	text-align: center;
}